In [178]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint
from flask import Flask, jsonify
import os

In [179]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [180]:
app = Flask(__name__)

In [181]:
# assign the uk_food database to a variable name
db = mongo['openChargeMap']

In [182]:
# review the collections in our database
print(db.list_collection_names())

['EV_Make_Model', 'us_alt_fuel_stations', 'POI_List', 'Alternative_Fueling_Stations']

In [183]:
# assign the collection to a variable
EV_Make_Model = db['EV_Make_Model']
us_alt_fuel_stations = db['us_alt_fuel_stations']
Alternative_Fueling_Stations = db['Alternative_Fueling_Stations']

In [184]:
pprint(EV_Make_Model)
pprint(us_alt_fuel_stations)
pprint(Alternative_Fueling_Stations)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'openChargeMap'), 'EV_Make_Model')
Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'openChargeMap'), 'us_alt_fuel_stations')
Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'openChargeMap'), 'Alternative_Fueling_Stations')

In [185]:
def clean_address(address):
    # Example: Remove leading/trailing whitespace and capitalize letters
    return address.strip().title()

In [186]:
# Clean Alternative_Fueling_Stations Collection
cleaned_alt_fueling_stations = []
for doc in db['Alternative_Fueling_Stations'].find():
    cleaned_doc = {
        'station_name': doc.get('station_name', ''),
        'geocode_status': doc.get('geocode_status', ''),
        'city': doc.get('city', ''),
        'state': doc.get('state', ''),
        'street_address': doc.get('street_address', ''),
        'zip': doc.get('zip', ''),
        'groups_with_access_code': doc.get('groups_with_access_code', ''),
        'longitude': doc.get('longitude', ''),
        'latitude': doc.get('latitude', '')
    }
    cleaned_alt_fueling_stations.append(cleaned_doc)

# Create DataFrame from cleaned data
df_alt_fueling_stations = pd.DataFrame(cleaned_alt_fueling_stations)

# Display the DataFrame
print(df_alt_fueling_stations.head())

                                   station_name geocode_status         city  \
0          Spire - Montgomery Operations Center          200-9   Montgomery
1  Metropolitan Atlanta Rapid Transit Authority          200-8      Atlanta
2                         United Parcel Service          200-9      Atlanta
3                    Arkansas Oklahoma Gas Corp          200-9   Fort Smith
4    Clean Energy - Logan International Airport            GPS  East Boston

  state        street_address    zip            groups_with_access_code  \
0    AL      2951 Chestnut St  36107                            Private
1    GA   2424 Piedmont Rd NE  30324          Private - Government only
2    GA  270 Marvin Miller Dr  30336                            Private
3    AR     2100 S Waldron Rd  72903  Public - Credit card at all times
4    MA   1000 Cottage St Ext  02128  Public - Credit card at all times

           longitude   latitude
0         -86.267021  32.367916
1         -84.367461  33.821911
2         -84.543822  33.760256
3         -94.375338  35.362213
4  -71.0265486057434  42.374706

In [187]:
# Define more descriptive column names
descriptive_column_names = {
    'access_code': 'Access Code',
    'station_name': 'Title',
    'geocode_status': 'Geocode Status',
    'city': 'City',
    'state': 'State',
    'street_address': 'Address',
    'zip': 'ZIP Code',
    'groups_with_access_code': 'Access Code',
    'longitude': 'Longitude',
    'latitude': 'Latitude'
}

# Rename columns in df_alt_fueling_stations DataFrame
df_alt_fueling_stations.rename(columns=descriptive_column_names, inplace=True)

# Display the DataFrame with more descriptive column names
print(df_alt_fueling_stations.head())

                                          Title Geocode Status         City  \
0          Spire - Montgomery Operations Center          200-9   Montgomery
1  Metropolitan Atlanta Rapid Transit Authority          200-8      Atlanta
2                         United Parcel Service          200-9      Atlanta
3                    Arkansas Oklahoma Gas Corp          200-9   Fort Smith
4    Clean Energy - Logan International Airport            GPS  East Boston

  State               Address ZIP Code                        Access Code  \
0    AL      2951 Chestnut St    36107                            Private
1    GA   2424 Piedmont Rd NE    30324          Private - Government only
2    GA  270 Marvin Miller Dr    30336                            Private
3    AR     2100 S Waldron Rd    72903  Public - Credit card at all times
4    MA   1000 Cottage St Ext    02128  Public - Credit card at all times

           Longitude   Latitude
0         -86.267021  32.367916
1         -84.367461  33.821911
2         -84.543822  33.760256
3         -94.375338  35.362213
4  -71.0265486057434  42.374706

In [188]:
df_alt_fueling_stations.head()

,Title,Geocode Status,City,State,Address,ZIP Code,Access Code,Longitude,Latitude
0,Spire - Montgomery Operations Center,200-9,Montgomery,AL,2951 Chestnut St,36107,Private,-86.267021,32.367916
1,Metropolitan Atlanta Rapid Transit Authority,200-8,Atlanta,GA,2424 Piedmont Rd NE,30324,Private - Government only,-84.367461,33.821911
2,United Parcel Service,200-9,Atlanta,GA,270 Marvin Miller Dr,30336,Private,-84.543822,33.760256
3,Arkansas Oklahoma Gas Corp,200-9,Fort Smith,AR,2100 S Waldron Rd,72903,Public - Credit card at all times,-94.375338,35.362213
4,Clean Energy - Logan International Airport,GPS,East Boston,MA,1000 Cottage St Ext,02128,Public - Credit card at all times,-71.0265486057434,42.374706

In [189]:
# Clean us_alt_fuel_stations Collection
cleaned_us_alt_fuel_stations = []
for doc in db['us_alt_fuel_stations'].find():
    cleaned_doc = {
        'Fuel Type Code': doc.get('Fuel Type Code', ''),
        'Station Name': doc.get('Station Name', ''),
        'Street Address': doc.get('Street Address', ''),
        'City': doc.get('City', ''),
        'State': doc.get('State', ''),
        'ZIP': doc.get('ZIP', ''),
        'Country': doc.get('Country', ''),
        'Station Phone': doc.get('Station Phone', ''),
        'Status Code': doc.get('Status Code', ''),
        'GroupsWith Access Code': doc.get('GroupsWith Access Code', ''),
        'EV Level2 EVSE Num': doc.get('EV Level2 EVSE Num', ''),
        'EV Network': doc.get('EV Network', ''),
        'GeoCode Status': doc.get('Geocode Status', ''),
        'Latitude': doc.get('Latitude', ''),
        'Longitude': doc.get('Longitude', ''),
        'Access Code': doc.get('Access Code', ''),
        'Facility Type': doc.get('Facility Type', ''),
        'EV Pricing': doc.get('EV Pricing', ''),
        'EV Connector Types': doc.get('EV Connector Types', '')
    }
    cleaned_us_alt_fuel_stations.append(cleaned_doc)

# Create DataFrame from cleaned data
df_us_alt_fuel_stations = pd.DataFrame(cleaned_us_alt_fuel_stations)

# Display the DataFrame
print(df_us_alt_fuel_stations.head())

  Fuel Type Code                    Station Name               Street Address  \
0           ELEC   Los Angeles Convention Center           1201 S Figueroa St
1           ELEC  California Air Resources Board             9530 Telstar Ave
2           ELEC          Scripps Green Hospital      10666 N Torrey Pines Rd
3           ELEC      San Diego Wild Animal Park  15500 San Pasqual Valley Rd
4           ELEC                   Galpin Motors            15421 Roscoe Blvd

          City State    ZIP Country Station Phone Status Code  \
0  Los Angeles    CA  90015      US  213-741-1151           E
1     El Monte    CA  91731      US  626-575-6800           E
2     La Jolla    CA  92037      US  858-554-9100           E
3    Escondido    CA  92027      US  760-747-8702           E
4    Sepulveda    CA  91343      US  800-256-6219           E

  GroupsWith Access Code EV Level2 EVSE Num     EV Network GeoCode Status  \
0                                        12  Non-Networked            GPS
1                                         3  Non-Networked            GPS
2                                         1  Non-Networked            GPS
3                                         2  Non-Networked          200-9
4                                         2  Non-Networked          200-9

    Latitude   Longitude Access Code   Facility Type   EV Pricing  \
0  34.040539 -118.271387      public  PARKING_GARAGE
1  34.068720 -118.064000      public       STATE_GOV         Free
2  32.899470 -117.243000      public        HOSPITAL  Pay to Park
3  33.098589 -117.004433      public         PAY_LOT         Free
4  34.221665 -118.468371      public      CAR_DEALER         Free

  EV Connector Types
0              J1772
1              J1772
2              J1772
3              J1772
4              J1772

In [190]:
df_us_alt_fuel_stations = df_us_alt_fuel_stations[df_us_alt_fuel_stations['Country'] != 'CA']

In [191]:
# Define column name mapping dictionary
column_mapping = {
    'Fuel Type Code': 'Fuel Type',
    'Station Name': 'Title',
    'Street Address': 'Address',
    'City': 'City',
    'State': 'State',
    'ZIP': 'ZIP Code',
    'Station Phone': 'Phone Number',  # Assuming Station Phone is the contact phone
    'Status Code': 'StatusType_Title',
    'EV Level2 EVSE Num': 'Charging Levels',
    'EV Network': 'OperatorTitle',
    'GeoCode Status': 'Geocode Status',
    'Latitude': 'Latitude',
    'Longitude': 'Longitude',
    'Access Code': 'Access Code',
    'Facility Type': 'Facility Type',
    'EV Pricing': 'Pricing',
    'EV Connector Types': 'Connector Type'
}

# Rename columns in df_us_alt_fuel_stations DataFrame
df_us_alt_fuel_stations.rename(columns=column_mapping, inplace=True)

# Display the DataFrame with renamed columns
print(df_us_alt_fuel_stations.head())

  Fuel Type                           Title                      Address  \
0      ELEC   Los Angeles Convention Center           1201 S Figueroa St
1      ELEC  California Air Resources Board             9530 Telstar Ave
2      ELEC          Scripps Green Hospital      10666 N Torrey Pines Rd
3      ELEC      San Diego Wild Animal Park  15500 San Pasqual Valley Rd
4      ELEC                   Galpin Motors            15421 Roscoe Blvd

          City State ZIP Code Country  Phone Number StatusType_Title  \
0  Los Angeles    CA    90015      US  213-741-1151                E
1     El Monte    CA    91731      US  626-575-6800                E
2     La Jolla    CA    92037      US  858-554-9100                E
3    Escondido    CA    92027      US  760-747-8702                E
4    Sepulveda    CA    91343      US  800-256-6219                E

  GroupsWith Access Code Charging Levels  OperatorTitle Geocode Status  \
0                                     12  Non-Networked            GPS
1                                      3  Non-Networked            GPS
2                                      1  Non-Networked            GPS
3                                      2  Non-Networked          200-9
4                                      2  Non-Networked          200-9

    Latitude   Longitude Access Code   Facility Type      Pricing  \
0  34.040539 -118.271387      public  PARKING_GARAGE
1  34.068720 -118.064000      public       STATE_GOV         Free
2  32.899470 -117.243000      public        HOSPITAL  Pay to Park
3  33.098589 -117.004433      public         PAY_LOT         Free
4  34.221665 -118.468371      public      CAR_DEALER         Free

  Connector Type
0          J1772
1          J1772
2          J1772
3          J1772
4          J1772

In [192]:

df_alt_fueling_stations['Longitude'] = pd.to_numeric(df_alt_fueling_stations['Longitude'], errors='coerce')
df_alt_fueling_stations['Latitude'] = pd.to_numeric(df_alt_fueling_stations['Latitude'], errors='coerce')

df_us_alt_fuel_stations['Longitude'] = pd.to_numeric(df_us_alt_fuel_stations['Longitude'], errors='coerce')
df_us_alt_fuel_stations['Latitude'] = pd.to_numeric(df_us_alt_fuel_stations['Latitude'], errors='coerce')

# Convert 'ZIP Code' column to integer data type in all DataFrames
df_alt_fueling_stations['ZIP Code'] = pd.to_numeric(df_alt_fueling_stations['ZIP Code'], errors='coerce', downcast='integer')
df_us_alt_fuel_stations['ZIP Code'] = pd.to_numeric(df_us_alt_fuel_stations['ZIP Code'], errors='coerce', downcast='integer')

# Display data types of 'Longitude', 'Latitude', and 'ZIP Code' columns in all DataFrames

print(df_alt_fueling_stations[['Longitude', 'Latitude', 'ZIP Code']].dtypes)
print("\ndf_us_alt_fuel_stations:")
print(df_us_alt_fuel_stations[['Longitude', 'Latitude', 'ZIP Code']].dtypes)

Longitude    float64
Latitude     float64
ZIP Code     float64
dtype: object

df_us_alt_fuel_stations:
Longitude    float64
Latitude     float64
ZIP Code     float64
dtype: object

In [193]:
# Convert columns to string type in df_alt_fueling_stations
df_alt_fueling_stations = df_alt_fueling_stations.astype({col: 'string' for col in df_alt_fueling_stations.columns if col not in ['Longitude', 'Latitude']})

# Convert columns to string type in df_us_alt_fuel_stations
df_us_alt_fuel_stations = df_us_alt_fuel_stations.astype({col: 'string' for col in df_us_alt_fuel_stations.columns if col not in ['Longitude', 'Latitude']})

In [194]:
# Print all column names and their data types in the final_merged_df DataFrame
for column, dtype in df_us_alt_fuel_stations.dtypes.items():
    print(f"Column: {column}, Data Type: {dtype}")

Column: Fuel Type, Data Type: string
Column: Title, Data Type: string
Column: Address, Data Type: string
Column: City, Data Type: string
Column: State, Data Type: string
Column: ZIP Code, Data Type: string
Column: Country, Data Type: string
Column: Phone Number, Data Type: string
Column: StatusType_Title, Data Type: string
Column: GroupsWith Access Code, Data Type: string
Column: Charging Levels, Data Type: string
Column: OperatorTitle, Data Type: string
Column: Geocode Status, Data Type: string
Column: Latitude, Data Type: float64
Column: Longitude, Data Type: float64
Column: Access Code, Data Type: string
Column: Facility Type, Data Type: string
Column: Pricing, Data Type: string
Column: Connector Type, Data Type: string

In [195]:

# Print all column names and their data types in the final_merged_df DataFrame
for column, dtype in df_alt_fueling_stations.dtypes.items():
    print(f"Column: {column}, Data Type: {dtype}")

Column: Title, Data Type: string
Column: Geocode Status, Data Type: string
Column: City, Data Type: string
Column: State, Data Type: string
Column: Address, Data Type: string
Column: ZIP Code, Data Type: string
Column: Access Code, Data Type: string
Column: Longitude, Data Type: float64
Column: Latitude, Data Type: float64

In [196]:

# Convert city names to lowercase and capitalize the first letter of each word
df_alt_fueling_stations['City'] = df_alt_fueling_stations['City'].str.lower().str.title()
df_us_alt_fuel_stations['City'] = df_us_alt_fuel_stations['City'].str.lower().str.title()

#['Access Code'] = df_alt_fueling_stations['Access Code'].str.lower().str.title()
#df_us_alt_fuel_stations['Access Code'] = df_us_alt_fuel_stations['Access Code'].str.lower().str.title()

# Merge DataFrames based on longitude and latitude
final_merged_df = pd.merge(df_alt_fueling_stations, df_us_alt_fuel_stations, on=['Longitude', 'Latitude', 'ZIP Code','City','State','Address','Title'], how='right')

final_merged_df.drop(['Geocode Status_x','Geocode Status_y', 'Fuel Type', 'Access Code_x'], axis=1, inplace=True)

# Display the merged DataFrame
print(final_merged_df.head())

                            Title         City State  \
0   Los Angeles Convention Center  Los Angeles    CA
1  California Air Resources Board     El Monte    CA
2          Scripps Green Hospital     La Jolla    CA
3          Scripps Green Hospital     La Jolla    CA
4      San Diego Wild Animal Park    Escondido    CA

                       Address ZIP Code   Longitude   Latitude Country  \
0           1201 S Figueroa St  90015.0 -118.271387  34.040539      US
1             9530 Telstar Ave  91731.0 -118.064000  34.068720      US
2      10666 N Torrey Pines Rd  92037.0 -117.243000  32.899470      US
3      10666 N Torrey Pines Rd  92037.0 -117.243000  32.899470      US
4  15500 San Pasqual Valley Rd  92027.0 -117.004433  33.098589      US

   Phone Number StatusType_Title GroupsWith Access Code Charging Levels  \
0  213-741-1151                E                                     12
1  626-575-6800                E                                      3
2  858-554-9100                E                                      1
3  858-554-9100                E                                      1
4  760-747-8702                E                                      2

   OperatorTitle Access Code_y   Facility Type      Pricing Connector Type
0  Non-Networked        public  PARKING_GARAGE                       J1772
1  Non-Networked        public       STATE_GOV         Free          J1772
2  Non-Networked        public        HOSPITAL  Pay to Park          J1772
3  Non-Networked        public        HOSPITAL  Pay to Park          J1772
4  Non-Networked        public         PAY_LOT         Free          J1772

In [197]:
final_merged_df.head()

,Title,City,State,Address,ZIP Code,Longitude,Latitude,Country,Phone Number,StatusType_Title,GroupsWith Access Code,Charging Levels,OperatorTitle,Access Code_y,Facility Type,Pricing,Connector Type
0,Los Angeles Convention Center,Los Angeles,CA,1201 S Figueroa St,90015.0,-118.271387,34.040539,US,213-741-1151,E,,12,Non-Networked,public,PARKING_GARAGE,,J1772
1,California Air Resources Board,El Monte,CA,9530 Telstar Ave,91731.0,-118.064000,34.068720,US,626-575-6800,E,,3,Non-Networked,public,STATE_GOV,Free,J1772
2,Scripps Green Hospital,La Jolla,CA,10666 N Torrey Pines Rd,92037.0,-117.243000,32.899470,US,858-554-9100,E,,1,Non-Networked,public,HOSPITAL,Pay to Park,J1772
3,Scripps Green Hospital,La Jolla,CA,10666 N Torrey Pines Rd,92037.0,-117.243000,32.899470,US,858-554-9100,E,,1,Non-Networked,public,HOSPITAL,Pay to Park,J1772
4,San Diego Wild Animal Park,Escondido,CA,15500 San Pasqual Valley Rd,92027.0,-117.004433,33.098589,US,760-747-8702,E,,2,Non-Networked,public,PAY_LOT,Free,J1772

In [198]:
final_merged_df.rename(columns={'Access Code_y': 'Access Code', 'Phone Number': 'Phone_Number'}, inplace=True)

# Print all column names and their data types in the merged DataFrame
for column, dtype in final_merged_df.dtypes.items():
    print(f"Column: {column}, Data Type: {dtype}")

Column: Title, Data Type: string
Column: City, Data Type: string
Column: State, Data Type: string
Column: Address, Data Type: string
Column: ZIP Code, Data Type: string
Column: Longitude, Data Type: float64
Column: Latitude, Data Type: float64
Column: Country, Data Type: string
Column: Phone_Number, Data Type: string
Column: StatusType_Title, Data Type: string
Column: GroupsWith Access Code, Data Type: string
Column: Charging Levels, Data Type: string
Column: OperatorTitle, Data Type: string
Column: Access Code, Data Type: string
Column: Facility Type, Data Type: string
Column: Pricing, Data Type: string
Column: Connector Type, Data Type: string

In [199]:
final_merged_df.columns

Index(['Title', 'City', 'State', 'Address', 'ZIP Code', 'Longitude',
       'Latitude', 'Country', 'Phone_Number', 'StatusType_Title',
       'GroupsWith Access Code', 'Charging Levels', 'OperatorTitle',
       'Access Code', 'Facility Type', 'Pricing', 'Connector Type'],
      dtype='object')

In [200]:
# Clean EV_Make_Model Collection
cleaned_ev_make_model = []
for doc in db['EV_Make_Model'].find():
    cleaned_doc = {
        'Make': doc.get('Make', ''),
        'Model': doc.get('Model', ''),
        'Connector': doc.get('Connector', ''),
        'Level 1': doc.get('Level 1', ''),
        'Level 2': doc.get('Level 2', ''),
        'DC': doc.get('DC', ''),
        'Charge Per Distance': doc.get('Charge Per Distance', ''),
        'Car Price': doc.get('Car Price', '')
    }
    cleaned_ev_make_model.append(cleaned_doc)

# Create DataFrame from cleaned data
df_ev_make_model = pd.DataFrame(cleaned_ev_make_model)

# Display the DataFrame
print(df_ev_make_model.head())

        Make    Model   Connector Level 1 Level 2 DC Charge Per Distance  \
0     Nissan     Leaf     CHAdeMO       N       N  Y           215 miles
1      Tesla  Model 3       Tesla       N       Y  Y           341 miles
2      Tesla  Model X       Tesla       N       Y  Y           335 miles
3  Chevrolet     Bolt  J1772, CCS       Y       Y  Y           259 miles
4        BMW       i4  J1772, CCS       Y       Y  Y           307 miles

    Car Price
0  $28,140.00
1  $40,630.00
2  $79,990.00
3  $26,500.00
4  $60,200.00

In [201]:


# Replace empty strings in 'Facility Type' with 'Fuel Station'
final_merged_df['Facility Type'].replace('', 'FUEL STATION', inplace=True)

# Count occurrences of each Facility Type
facility_type_counts = final_merged_df['Facility Type'].value_counts()

# Print the counts
print(facility_type_counts)

Facility Type
FUEL STATION                 32435
HOTEL                         2464
CAR_DEALER                    1949
SHOPPING_CENTER                682
MUNI_GOV                       525
OFFICE_BLDG                    434
SHOPPING_MALL                  428
PAY_GARAGE                     399
COLLEGE_CAMPUS                 396
INN                            351
PARKING_LOT                    303
GROCERY                        280
PARKING_GARAGE                 277
RESTAURANT                     274
BREWERY_DISTILLERY_WINERY      243
PARK                           196
UTILITY                        176
OTHER_ENTERTAINMENT            140
CONVENIENCE_STORE              135
SCHOOL                         135
HOSPITAL                       132
REC_SPORTS_FACILITY            115
LIBRARY                         97
AIRPORT                         92
MUSEUM                          78
B_AND_B                         78
MULTI_UNIT_DWELLING             75
TRAVEL_CENTER                   62
STATE_GOV                       49
GAS_STATION                     47
STREET_PARKING                  43
PLACE_OF_WORSHIP                41
NATL_PARK                       39
BANK                            36
COOP                            32
PAY_LOT                         31
STANDALONE_STATION              30
REST_STOP                       27
AUTO_REPAIR                     25
OTHER                           18
CONVENTION_CENTER               16
FLEET_GARAGE                    13
FED_GOV                         11
ARENA                            9
FIRE_STATION                     8
CAMPGROUND                       8
TRUCK_STOP                       8
HARDWARE_STORE                   8
FACTORY                          8
STADIUM                          7
RESEARCH_FACILITY                6
STORAGE                          6
FUEL_RESELLER                    3
CARWASH                          3
MOTOR_POOL                       3
RV_PARK                          2
RENTAL_CAR_RETURN                2
PHARMACY                         1
PRISON                           1
RETAIL                           1
Name: count, dtype: Int64

In [202]:
# Count occurrences of each Facility Type
facility_type_counts = final_merged_df['Facility Type'].value_counts()

# Print the counts
print(facility_type_counts)

Facility Type
FUEL STATION                 32435
HOTEL                         2464
CAR_DEALER                    1949
SHOPPING_CENTER                682
MUNI_GOV                       525
OFFICE_BLDG                    434
SHOPPING_MALL                  428
PAY_GARAGE                     399
COLLEGE_CAMPUS                 396
INN                            351
PARKING_LOT                    303
GROCERY                        280
PARKING_GARAGE                 277
RESTAURANT                     274
BREWERY_DISTILLERY_WINERY      243
PARK                           196
UTILITY                        176
OTHER_ENTERTAINMENT            140
CONVENIENCE_STORE              135
SCHOOL                         135
HOSPITAL                       132
REC_SPORTS_FACILITY            115
LIBRARY                         97
AIRPORT                         92
MUSEUM                          78
B_AND_B                         78
MULTI_UNIT_DWELLING             75
TRAVEL_CENTER                   62
STATE_GOV                       49
GAS_STATION                     47
STREET_PARKING                  43
PLACE_OF_WORSHIP                41
NATL_PARK                       39
BANK                            36
COOP                            32
PAY_LOT                         31
STANDALONE_STATION              30
REST_STOP                       27
AUTO_REPAIR                     25
OTHER                           18
CONVENTION_CENTER               16
FLEET_GARAGE                    13
FED_GOV                         11
ARENA                            9
FIRE_STATION                     8
CAMPGROUND                       8
TRUCK_STOP                       8
HARDWARE_STORE                   8
FACTORY                          8
STADIUM                          7
RESEARCH_FACILITY                6
STORAGE                          6
FUEL_RESELLER                    3
CARWASH                          3
MOTOR_POOL                       3
RV_PARK                          2
RENTAL_CAR_RETURN                2
PHARMACY                         1
PRISON                           1
RETAIL                           1
Name: count, dtype: Int64

In [203]:
EV = pd.DataFrame(cleaned_ev_make_model)

In [204]:
df_alt_fueling_stations.count()

Title             82869
Geocode Status    82869
City              82869
State             82869
Address           82869
ZIP Code          82822
Access Code       82869
Longitude         82869
Latitude          82869
dtype: int64

In [205]:
df_us_alt_fuel_stations.count()

Fuel Type                 42878
Title                     42878
Address                   42878
City                      42878
State                     42878
ZIP Code                  42864
Country                   42878
Phone Number              42878
StatusType_Title          42878
GroupsWith Access Code    42878
Charging Levels           42878
OperatorTitle             42878
Geocode Status            42878
Latitude                  42878
Longitude                 42878
Access Code               42878
Facility Type             42878
Pricing                   42878
Connector Type            42878
dtype: int64

In [206]:
# Select one row by index
row = final_merged_df.iloc[0]

# Display the values of the selected row
print(row)

Title                     Los Angeles Convention Center
City                                        Los Angeles
State                                                CA
Address                              1201 S Figueroa St
ZIP Code                                        90015.0
Longitude                                   -118.271387
Latitude                                      34.040539
Country                                              US
Phone_Number                               213-741-1151
StatusType_Title                                      E
GroupsWith Access Code
Charging Levels                                      12
OperatorTitle                             Non-Networked
Access Code                                      public
Facility Type                            PARKING_GARAGE
Pricing
Connector Type                                    J1772
Name: 0, dtype: object

In [207]:
# Assuming your DataFrame is named final_merged_df
pricing_counts = final_merged_df['Pricing'].value_counts()

# Display the counts
print(pricing_counts)

Pricing
                                                                                      29870
Free                                                                                   8818
FREE                                                                                    868
$0.28 per kWh; $0.26 per minute above 60 kW and $0.13 per minute at or below 60 kW      862
Level 2: $0.49 per kWh                                                                  688
                                                                                      ...
$0.00-$5.00/Hr Variable Parking Fee, $0.20-$0.30/kWh Variable Energy Fee                  1
Free for guests; $5 per session for non guests                                            1
$2.40 per hour                                                                            1
$0.60 per kWh                                                                             1
$1.50-$3.50/Hr Variable Parking Fee, $0.12/kWh Energy Fee                                 1
Name: count, Length: 460, dtype: Int64

In [208]:
# Assuming your DataFrame is named final_merged_df
pricing_counts = final_merged_df['Pricing'].value_counts()

# Display the first 50 pricing value counts
print(pricing_counts.head(1000))

Pricing
                                                                                      29870
Free                                                                                   8818
FREE                                                                                    868
$0.28 per kWh; $0.26 per minute above 60 kW and $0.13 per minute at or below 60 kW      862
Level 2: $0.49 per kWh                                                                  688
                                                                                      ...
$0.00-$5.00/Hr Variable Parking Fee, $0.20-$0.30/kWh Variable Energy Fee                  1
Free for guests; $5 per session for non guests                                            1
$2.40 per hour                                                                            1
$0.60 per kWh                                                                             1
$1.50-$3.50/Hr Variable Parking Fee, $0.12/kWh Energy Fee                                 1
Name: count, Length: 460, dtype: Int64

In [209]:
# Assuming your DataFrame is named final_merged_df
final_merged_df['Pricing'] = final_merged_df['Pricing'].str.capitalize()

In [210]:
# Calculate value counts of Connector Type
connector_type_counts = final_merged_df['Connector Type'].value_counts()

# Display the value counts
print(connector_type_counts)

Connector Type
J1772                               33224
TESLA                                3132
CHADEMO J1772COMBO                   2557
J1772 TESLA                          2506
CHADEMO J1772 J1772COMBO              611
CHADEMO J1772                         475
J1772COMBO                            370
J1772 NEMA515                         327
CHADEMO                               144
J1772 NEMA520                          66
J1772 J1772COMBO                       55
J1772 NEMA1450                         13
CHADEMO J1772 J1772COMBO TESLA          4
CHADEMO J1772COMBO NEMA520              2
CHADEMO J1772 NEMA515                   1
CHADEMO J1772 NEMA520 TESLA             1
J1772 J1772COMBO NEMA520                1
J1772 NEMA515 NEMA520                   1
J1772 NEMA1450 NEMA520                  1
CHADEMO J1772 J1772COMBO NEMA520        1
CHADEMO J1772COMBO TESLA                1
Name: count, dtype: Int64

In [211]:
# Filter the DataFrame to exclude "Free" and empty values in the "Pricing" column
filtered_df = final_merged_df[(final_merged_df['Pricing'] != 'Free') & (final_merged_df['Pricing'] != '')]

# Calculate the value counts of the filtered DataFrame
pricing_counts = filtered_df['Pricing'].value_counts()

# Display the value counts
print(pricing_counts)

Pricing
$0.28 per kwh; $0.26 per minute above 60 kw and $0.13 per minute at or below 60 kw    862
Level 2: $0.49 per kwh                                                                688
Level 2: $0.59 per kwh                                                                290
Level 2: $0.03 per 30 seconds                                                         214
$2.00/hr parking fee                                                                  201
                                                                                     ...
$0.21 per min                                                                           1
Free for guests; $15 for non-guests                                                     1
Level 2: $0.3 per minute                                                                1
L2: free; dcfc: free for 30 minutes                                                     1
$1.50-$3.50/hr variable parking fee, $0.12/kwh energy fee                               1
Name: count, Length: 455, dtype: Int64

In [212]:
# Display all pricing value counts
print(pricing_counts)

Pricing
$0.28 per kwh; $0.26 per minute above 60 kw and $0.13 per minute at or below 60 kw    862
Level 2: $0.49 per kwh                                                                688
Level 2: $0.59 per kwh                                                                290
Level 2: $0.03 per 30 seconds                                                         214
$2.00/hr parking fee                                                                  201
                                                                                     ...
$0.21 per min                                                                           1
Free for guests; $15 for non-guests                                                     1
Level 2: $0.3 per minute                                                                1
L2: free; dcfc: free for 30 minutes                                                     1
$1.50-$3.50/hr variable parking fee, $0.12/kwh energy fee                               1
Name: count, Length: 455, dtype: Int64

In [213]:
final_merged_df.count(
    
)

Title                     43493
City                      43493
State                     43493
Address                   43493
ZIP Code                  43479
Longitude                 43493
Latitude                  43493
Country                   43493
Phone_Number              43493
StatusType_Title          43493
GroupsWith Access Code    43493
Charging Levels           43493
OperatorTitle             43493
Access Code               43493
Facility Type             43493
Pricing                   43493
Connector Type            43493
dtype: int64

In [214]:
final_merged_df = final_merged_df[final_merged_df['Pricing'] != ""]

In [215]:
# Search for rows where the city contains 'San Antonio'
san_antonio_data = final_merged_df[final_merged_df['City'].str.contains('San Antonio', case=False)]

# Display the resulting data
print(san_antonio_data)

                                                   Title         City State  \
275                                        Ancira Nissan  San Antonio    TX
276                                        Ancira Nissan  San Antonio    TX
277                                          Gunn Nissan  San Antonio    TX
278                                          Gunn Nissan  San Antonio    TX
279                                   Ingram Park Nissan  San Antonio    TX
280                                   Ingram Park Nissan  San Antonio    TX
281                                     World Car Nissan  San Antonio    TX
282                                     World Car Nissan  San Antonio    TX
695                       Mission Trail Baptist Hospital  San Antonio    TX
3096                                      Northside Ford  San Antonio    TX
7985                   Alamo Area Council of Governments  San Antonio    TX
11463          Riverwalk Plaza Hotel - Tesla Destination  San Antonio    TX
11464                   Hotel Havana - Tesla Destination  San Antonio    TX
11465  Hyatt Regency San Antonio Riverwalk - Tesla De...  San Antonio    TX
11466                     Hotel Emma - Tesla Destination  San Antonio    TX
11467  La Cantera Resort & Spa, a Destination Hotel -...  San Antonio    TX
11468  Noble Inns - Oge Inn Riverwalk - Tesla Destina...  San Antonio    TX
11469  Comfort Suites Alamo/Riverwalk - Tesla Destina...  San Antonio    TX
11470        Stewart Shopping Center - Tesla Destination  San Antonio    TX
11471        Grand Hyatt San Antonio - Tesla Destination  San Antonio    TX
11472  Candlewood Suites San Antonio Lackland AFB Are...  San Antonio    TX
11473          El Mirador Restaurant - Tesla Destination  San Antonio    TX
11474  Hyatt Regency Hill Country Resort and Spa - Te...  San Antonio    TX
11475           The St Anthony Hotel - Tesla Destination  San Antonio    TX
15902                            Grand Hyatt San Antonio  San Antonio    TX
15903                                              Agave  San Antonio    TX
16198  Huebner Oaks Shopping Center - Tesla Supercharger  San Antonio    TX
18475            Leon Springs H-E-B - Tesla Supercharger  San Antonio    TX
24536                        Audi Dominion - Parking Lot  San Antonio    TX
39041                     The Shops at La Cantera - DCFC  San Antonio    TX
39042                       North Star Mall - Forever 21  San Antonio    TX
39043                North Star Mall - Saks Fifth Avenue  San Antonio    TX
39044                       North Star Mall - Kona Grill  San Antonio    TX
40011                            Vecina Apartment Villas  San Antonio    TX
40814                       Overlook Exchange Apartments  San Antonio    TX
42560                              The Towers La Cantera  San Antonio    TX

                        Address ZIP Code  Longitude   Latitude Country  \
275               10835 IH-10 W  78230.0 -98.575440  29.543147      US
276               10835 IH-10 W  78230.0 -98.575440  29.543147      US
277             750 NE Loop 410  78209.0 -98.467365  29.517253      US
278             750 NE Loop 410  78209.0 -98.467365  29.517253      US
279            6990 NW Loop 410  78238.0 -98.625324  29.457047      US
280            6990 NW Loop 410  78238.0 -98.625324  29.457047      US
281               12908 IH-35 N  78233.0 -98.344690  29.556508      US
282               12908 IH-35 N  78233.0 -98.344690  29.556508      US
695         3333 Research Plaza  78235.0 -98.436931  29.343808      US
3096            12300 San Pedro  78216.0 -98.485292  29.551307      US
7985             8700 Tesoro Dr  78217.0 -98.454053  29.518993      US
11463            100 Villita St  78205.0 -98.493044  29.422815      US
11464           1015 Navarro St  78228.0 -98.489866  29.430801      US
11465             123 Losoya St  78205.0 -98.488245  29.425567      US
11466          136 E Grayson St  78215.0 -98.480296  29.444053      US
11467    16641  La Cantera Pkwy  78256.0 -98.620445  29.604692      US
11468         209 Washington St  78204.0 -98.492711  29.417283      US
11469           505 Live Oak St  78202.0 -98.481024  29.426655      US
11470          5120 Broadway St  78209.0 -98.462491  29.474126      US
11471           600 E Market St  78205.0 -98.485196  29.420243      US
11472             6439 Hwy 90 W  78227.0 -98.613219  29.405837      US
11473        722 S St Mary's St  78205.0 -98.489687  29.417302      US
11474      9800 Hyatt Resort Dr  78251.0 -98.681357  29.463279      US
11475           300 E Travis St  78205.0 -98.489583  29.427392      US
15902           600 E Market St  78205.0 -98.484270  29.421914      US
15903        633 S St Mary's St  78205.0 -98.491535  29.418857      US
16198                11745 I-10  78230.0 -98.580900  29.549100      US
18475           24165 I-10 #300  78257.0 -98.633300  29.666298      US
24536             21105 W IH 10  78257.0 -98.616804  29.637811      US
39041     15900 La Cantera Pkwy  78256.0 -98.615985  29.593532      US
39042        7400 San Pedro Ave  78216.0 -98.493904  29.517750      US
39043        7400 San Pedro Ave  78216.0 -98.493562  29.519504      US
39044        7400 San Pedro Ave  78216.0 -98.495290  29.519070      US
40011      20915 Wilderness Oak  78258.0 -98.512732  29.636618      US
40814       6455 De Zavala Road  78249.0 -98.615071  29.560592      US
42560  16735 La Cantera Parkway  78256.0 -98.612653  29.607412      US

                     Phone_Number StatusType_Title GroupsWith Access Code  \
275                  210-558-5001                E
276                  210-558-5001                E
277                  888-693-8380                E
278                  888-693-8380                E
279                  210-681-6300                E
280                  210-681-6300                E
281                  210-599-5959                E
282                  210-599-5959                E
695                  210-297-3000                E
3096                 210-525-9800                E
7985                 210-362-5200                E
11463  210-225-1234  877-798-3752                E
11464  210-222-2008  877-798-3752                E
11465  210-222-1234  877-798-3752                E
11466  210-448-8300  877-798-3752                E
11467  210-558-6500  877-798-3752                E
11468  210-223-2353  877-798-3752                E
11469  210-227-5200  877-798-3752                E
11470  210-828-1221  877-798-3752                E
11471  210-224-1234  877-798-3752                E
11472  210-674-1512  877-798-3752                E
11473  210-225-9444  877-798-3752                E
11474  210-647-1234  877-798-3752                E
11475  210-227-4392  877-798-3752                E
15902                800-663-5633                E
15903                800-663-5633                E
16198                877-798-3752                E
18475                877-798-3752                E
24536                888-998-2546                E
39041                888-264-2208                E
39042                888-264-2208                E
39043                888-264-2208                E
39044                888-264-2208                E
40011                888-998-2546                E
40814                888-998-2546                E
42560                800-663-5633                E

      Charging Levels       OperatorTitle Access Code    Facility Type  \
275                 1       Non-Networked      public       CAR_DEALER
276                 1       Non-Networked      public       CAR_DEALER
277                 1       Non-Networked      public       CAR_DEALER
278                 1       Non-Networked      public       CAR_DEALER
279                 1       Non-Networked      public       CAR_DEALER
280                 1       Non-Networked      public       CAR_DEALER
281                 1       Non-Networked      public       CAR_DEALER
282                 1       Non-Networked      public       CAR_DEALER
695                 3       Non-Networked      public         HOSPITAL
3096                3       Non-Networked      public       CAR_DEALER
7985                2       Non-Networked      public         MUNI_GOV
11463               3   Tesla Destination      public            HOTEL
11464               2   Tesla Destination      public            HOTEL
11465               1   Tesla Destination      public            HOTEL
11466               2   Tesla Destination      public            HOTEL
11467               2   Tesla Destination      public            HOTEL
11468               2   Tesla Destination      public              INN
11469               3   Tesla Destination      public            HOTEL
11470               3   Tesla Destination      public  SHOPPING_CENTER
11471               2   Tesla Destination      public            HOTEL
11472               2   Tesla Destination      public            HOTEL
11473               2   Tesla Destination      public       RESTAURANT
11474               3   Tesla Destination      public            HOTEL
11475               2   Tesla Destination      public            HOTEL
15902               2  SemaCharge Network      public     FUEL STATION
15903               1  SemaCharge Network      public     FUEL STATION
16198                               Tesla      public     FUEL STATION
18475                               Tesla      public    SHOPPING_MALL
24536               2       Blink Network      public     FUEL STATION
39041                               Volta      public    SHOPPING_MALL
39042               5               Volta      public    SHOPPING_MALL
39043               4               Volta      public    SHOPPING_MALL
39044               1               Volta      public    SHOPPING_MALL
40011               3       Blink Network      public     FUEL STATION
40814               1       Blink Network      public     FUEL STATION
42560               2  SemaCharge Network      public     FUEL STATION

                                                 Pricing Connector Type
275                                                 Free          J1772
276                                                 Free          J1772
277                                                 Free          J1772
278                                                 Free          J1772
279                                                 Free          J1772
280                                                 Free          J1772
281                                                 Free          J1772
282                                                 Free          J1772
695                                                 Free          J1772
3096                                                Free          J1772
7985                                                Free          J1772
11463                                               Free    J1772 TESLA
11464                                               Free    J1772 TESLA
11465                                               Free          TESLA
11466                                               Free          TESLA
11467                                               Free          TESLA
11468                                               Free    J1772 TESLA
11469                                               Free    J1772 TESLA
11470                                               Free    J1772 TESLA
11471                                               Free    J1772 TESLA
11472                                               Free          TESLA
11473                                               Free    J1772 TESLA
11474                                               Free    J1772 TESLA
11475                                               Free    J1772 TESLA
15902        $2.50/hr parking fee , $2.50/kwh energy fee          J1772
15903                $0.18-$0.68/hr variable parking fee          J1772
16198  $0.28 per kwh; $0.26 per minute above 60 kw an...          TESLA
18475  $0.28 per kwh; $0.26 per minute above 60 kw an...          TESLA
24536                                               Free          J1772
39041                          Free for first 30 minutes     J1772COMBO
39042                                               Free          J1772
39043                                               Free          J1772
39044                                               Free          J1772
40011                             Level 2: $0.49 per kwh          J1772
40814                             Level 2: $0.49 per kwh          J1772
42560  $2.00-$5.00/hr variable parking fee, $0.20/kwh...          J1772

In [216]:
# Replace empty values in the 'Connector Type' column with 'Unknown'
final_merged_df['Connector Type'].fillna('Unknown', inplace=True)

In [217]:

# Get the current directory of the notebook
current_dir = os.getcwd()

# Define the file path relative to the resource folder
file_path = os.path.join(current_dir, 'resource', 'final_merged_data.json')

In [218]:
# Get the current directory of the notebook
current_dir = os.getcwd()

# Define the file path relative to the resource folder
file_path2 = os.path.join(current_dir, 'resource', 'EV_Make_Model.json')

In [219]:
# Convert DataFrame to JSON format
json_data2 = df_ev_make_model.to_json(orient='records', indent=4)

# Write JSON data to a file
with open(file_path2, 'w') as file:
    file.write(json_data2)

print(f"JSON data has been exported to {file_path2}")

JSON data has been exported to /Users/albertoalvarado/Desktop/last fucking time/idk/Project3/resource/EV_Make_Model.json

In [220]:
# Convert DataFrame to JSON format
json_data = final_merged_df.to_json(orient='records', indent=4)

# Write JSON data to a file
with open(file_path, 'w') as file:
    file.write(json_data)

print(f"JSON data has been exported to {file_path}")

JSON data has been exported to /Users/albertoalvarado/Desktop/last fucking time/idk/Project3/resource/final_merged_data.json