In [1]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint
from flask import Flask, jsonify
import os

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
app = Flask(__name__)

In [4]:
# assign the uk_food database to a variable name
db = mongo['openChargeMap']

In [5]:
# review the collections in our database
print(db.list_collection_names())

['us_alt_fuel_stations', 'POI_List', 'EV_Make_Model', 'Alternative_Fueling_Stations']

In [6]:
# assign the collection to a variable
EV_Make_Model = db['EV_Make_Model']
us_alt_fuel_stations = db['us_alt_fuel_stations']
Alternative_Fueling_Stations = db['Alternative_Fueling_Stations']

In [7]:
pprint(EV_Make_Model)
pprint(us_alt_fuel_stations)
pprint(Alternative_Fueling_Stations)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'openChargeMap'), 'EV_Make_Model')
Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'openChargeMap'), 'us_alt_fuel_stations')
Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'openChargeMap'), 'Alternative_Fueling_Stations')

In [8]:
def clean_address(address):
    # Example: Remove leading/trailing whitespace and capitalize letters
    return address.strip().title()

In [9]:
# Clean Alternative_Fueling_Stations Collection
cleaned_alt_fueling_stations = []
for doc in db['Alternative_Fueling_Stations'].find():
    cleaned_doc = {
        'station_name': doc.get('station_name', ''),
        'geocode_status': doc.get('geocode_status', ''),
        'city': doc.get('city', ''),
        'state': doc.get('state', ''),
        'street_address': doc.get('street_address', ''),
        'zip': doc.get('zip', ''),
        'groups_with_access_code': doc.get('groups_with_access_code', ''),
        'longitude': doc.get('longitude', ''),
        'latitude': doc.get('latitude', '')
    }
    cleaned_alt_fueling_stations.append(cleaned_doc)

# Create DataFrame from cleaned data
df_alt_fueling_stations = pd.DataFrame(cleaned_alt_fueling_stations)

# Display the DataFrame
print(df_alt_fueling_stations.head())

                                   station_name geocode_status         city  \
0          Spire - Montgomery Operations Center          200-9   Montgomery
1  Metropolitan Atlanta Rapid Transit Authority          200-8      Atlanta
2                         United Parcel Service          200-9      Atlanta
3                    Arkansas Oklahoma Gas Corp          200-9   Fort Smith
4    Clean Energy - Logan International Airport            GPS  East Boston

  state        street_address    zip            groups_with_access_code  \
0    AL      2951 Chestnut St  36107                            Private
1    GA   2424 Piedmont Rd NE  30324          Private - Government only
2    GA  270 Marvin Miller Dr  30336                            Private
3    AR     2100 S Waldron Rd  72903  Public - Credit card at all times
4    MA   1000 Cottage St Ext  02128  Public - Credit card at all times

           longitude   latitude
0         -86.267021  32.367916
1         -84.367461  33.821911
2         -84.543822  33.760256
3         -94.375338  35.362213
4  -71.0265486057434  42.374706

In [10]:
# Define more descriptive column names
descriptive_column_names = {
    'access_code': 'Access Code',
    'station_name': 'Title',
    'geocode_status': 'Geocode Status',
    'city': 'City',
    'state': 'State',
    'street_address': 'Address',
    'zip': 'ZIP Code',
    'groups_with_access_code': 'Access Code',
    'longitude': 'Longitude',
    'latitude': 'Latitude'
}

# Rename columns in df_alt_fueling_stations DataFrame
df_alt_fueling_stations.rename(columns=descriptive_column_names, inplace=True)

# Display the DataFrame with more descriptive column names
print(df_alt_fueling_stations.head())

                                          Title Geocode Status         City  \
0          Spire - Montgomery Operations Center          200-9   Montgomery
1  Metropolitan Atlanta Rapid Transit Authority          200-8      Atlanta
2                         United Parcel Service          200-9      Atlanta
3                    Arkansas Oklahoma Gas Corp          200-9   Fort Smith
4    Clean Energy - Logan International Airport            GPS  East Boston

  State               Address ZIP Code                        Access Code  \
0    AL      2951 Chestnut St    36107                            Private
1    GA   2424 Piedmont Rd NE    30324          Private - Government only
2    GA  270 Marvin Miller Dr    30336                            Private
3    AR     2100 S Waldron Rd    72903  Public - Credit card at all times
4    MA   1000 Cottage St Ext    02128  Public - Credit card at all times

           Longitude   Latitude
0         -86.267021  32.367916
1         -84.367461  33.821911
2         -84.543822  33.760256
3         -94.375338  35.362213
4  -71.0265486057434  42.374706

In [11]:
df_alt_fueling_stations.head()

,Title,Geocode Status,City,State,Address,ZIP Code,Access Code,Longitude,Latitude
0,Spire - Montgomery Operations Center,200-9,Montgomery,AL,2951 Chestnut St,36107,Private,-86.267021,32.367916
1,Metropolitan Atlanta Rapid Transit Authority,200-8,Atlanta,GA,2424 Piedmont Rd NE,30324,Private - Government only,-84.367461,33.821911
2,United Parcel Service,200-9,Atlanta,GA,270 Marvin Miller Dr,30336,Private,-84.543822,33.760256
3,Arkansas Oklahoma Gas Corp,200-9,Fort Smith,AR,2100 S Waldron Rd,72903,Public - Credit card at all times,-94.375338,35.362213
4,Clean Energy - Logan International Airport,GPS,East Boston,MA,1000 Cottage St Ext,02128,Public - Credit card at all times,-71.0265486057434,42.374706

In [12]:
# Clean us_alt_fuel_stations Collection
cleaned_us_alt_fuel_stations = []
for doc in db['us_alt_fuel_stations'].find():
    cleaned_doc = {
        'Fuel Type Code': doc.get('Fuel Type Code', ''),
        'Station Name': doc.get('Station Name', ''),
        'Street Address': doc.get('Street Address', ''),
        'City': doc.get('City', ''),
        'State': doc.get('State', ''),
        'ZIP': doc.get('ZIP', ''),
        'Country': doc.get('Country', ''),
        'Station Phone': doc.get('Station Phone', ''),
        'Status Code': doc.get('Status Code', ''),
        'GroupsWith Access Code': doc.get('GroupsWith Access Code', ''),
        'EV Level2 EVSE Num': doc.get('EV Level2 EVSE Num', ''),
        'EV Network': doc.get('EV Network', ''),
        'GeoCode Status': doc.get('Geocode Status', ''),
        'Latitude': doc.get('Latitude', ''),
        'Longitude': doc.get('Longitude', ''),
        'Access Code': doc.get('Access Code', ''),
        'Facility Type': doc.get('Facility Type', ''),
        'EV Connector Types': doc.get('EV Connector Types', '')
    }
    cleaned_us_alt_fuel_stations.append(cleaned_doc)

# Create DataFrame from cleaned data
df_us_alt_fuel_stations = pd.DataFrame(cleaned_us_alt_fuel_stations)

# Display the DataFrame
print(df_us_alt_fuel_stations.head())

  Fuel Type Code                    Station Name               Street Address  \
0           ELEC   Los Angeles Convention Center           1201 S Figueroa St
1           ELEC  California Air Resources Board             9530 Telstar Ave
2           ELEC          Scripps Green Hospital      10666 N Torrey Pines Rd
3           ELEC      San Diego Wild Animal Park  15500 San Pasqual Valley Rd
4           ELEC                   Galpin Motors            15421 Roscoe Blvd

          City State    ZIP Country Station Phone Status Code  \
0  Los Angeles    CA  90015      US  213-741-1151           E
1     El Monte    CA  91731      US  626-575-6800           E
2     La Jolla    CA  92037      US  858-554-9100           E
3    Escondido    CA  92027      US  760-747-8702           E
4    Sepulveda    CA  91343      US  800-256-6219           E

  GroupsWith Access Code EV Level2 EVSE Num     EV Network GeoCode Status  \
0                                        12  Non-Networked            GPS
1                                         3  Non-Networked            GPS
2                                         1  Non-Networked            GPS
3                                         2  Non-Networked          200-9
4                                         2  Non-Networked          200-9

    Latitude   Longitude Access Code   Facility Type EV Connector Types
0  34.040539 -118.271387      public  PARKING_GARAGE              J1772
1  34.068720 -118.064000      public       STATE_GOV              J1772
2  32.899470 -117.243000      public        HOSPITAL              J1772
3  33.098589 -117.004433      public         PAY_LOT              J1772
4  34.221665 -118.468371      public      CAR_DEALER              J1772

In [13]:
df_us_alt_fuel_stations = df_us_alt_fuel_stations[df_us_alt_fuel_stations['Country'] != 'CA']

In [14]:
# Define column name mapping dictionary
column_mapping = {
    'Fuel Type Code': 'Fuel Type',
    'Station Name': 'Title',
    'Street Address': 'Address',
    'City': 'City',
    'State': 'State',
    'ZIP': 'ZIP Code',
    'Station Phone': 'Phone Number',  # Assuming Station Phone is the contact phone
    'Status Code': 'StatusType_Title',
    'EV Level2 EVSE Num': 'Charging Levels',
    'EV Network': 'OperatorTitle',
    'GeoCode Status': 'Geocode Status',
    'Latitude': 'Latitude',
    'Longitude': 'Longitude',
    'Access Code': 'Access Code',
    'Facility Type': 'Facility Type',
    'EV Connector Types': 'Connector Type'
}

# Rename columns in df_us_alt_fuel_stations DataFrame
df_us_alt_fuel_stations.rename(columns=column_mapping, inplace=True)

# Display the DataFrame with renamed columns
print(df_us_alt_fuel_stations.head())

  Fuel Type                           Title                      Address  \
0      ELEC   Los Angeles Convention Center           1201 S Figueroa St
1      ELEC  California Air Resources Board             9530 Telstar Ave
2      ELEC          Scripps Green Hospital      10666 N Torrey Pines Rd
3      ELEC      San Diego Wild Animal Park  15500 San Pasqual Valley Rd
4      ELEC                   Galpin Motors            15421 Roscoe Blvd

          City State ZIP Code Country  Phone Number StatusType_Title  \
0  Los Angeles    CA    90015      US  213-741-1151                E
1     El Monte    CA    91731      US  626-575-6800                E
2     La Jolla    CA    92037      US  858-554-9100                E
3    Escondido    CA    92027      US  760-747-8702                E
4    Sepulveda    CA    91343      US  800-256-6219                E

  GroupsWith Access Code Charging Levels  OperatorTitle Geocode Status  \
0                                     12  Non-Networked            GPS
1                                      3  Non-Networked            GPS
2                                      1  Non-Networked            GPS
3                                      2  Non-Networked          200-9
4                                      2  Non-Networked          200-9

    Latitude   Longitude Access Code   Facility Type Connector Type
0  34.040539 -118.271387      public  PARKING_GARAGE          J1772
1  34.068720 -118.064000      public       STATE_GOV          J1772
2  32.899470 -117.243000      public        HOSPITAL          J1772
3  33.098589 -117.004433      public         PAY_LOT          J1772
4  34.221665 -118.468371      public      CAR_DEALER          J1772

In [15]:

df_alt_fueling_stations['Longitude'] = pd.to_numeric(df_alt_fueling_stations['Longitude'], errors='coerce')
df_alt_fueling_stations['Latitude'] = pd.to_numeric(df_alt_fueling_stations['Latitude'], errors='coerce')

df_us_alt_fuel_stations['Longitude'] = pd.to_numeric(df_us_alt_fuel_stations['Longitude'], errors='coerce')
df_us_alt_fuel_stations['Latitude'] = pd.to_numeric(df_us_alt_fuel_stations['Latitude'], errors='coerce')

# Convert 'ZIP Code' column to integer data type in all DataFrames
df_alt_fueling_stations['ZIP Code'] = pd.to_numeric(df_alt_fueling_stations['ZIP Code'], errors='coerce', downcast='integer')
df_us_alt_fuel_stations['ZIP Code'] = pd.to_numeric(df_us_alt_fuel_stations['ZIP Code'], errors='coerce', downcast='integer')

# Display data types of 'Longitude', 'Latitude', and 'ZIP Code' columns in all DataFrames

print(df_alt_fueling_stations[['Longitude', 'Latitude', 'ZIP Code']].dtypes)
print("\ndf_us_alt_fuel_stations:")
print(df_us_alt_fuel_stations[['Longitude', 'Latitude', 'ZIP Code']].dtypes)

Longitude    float64
Latitude     float64
ZIP Code     float64
dtype: object

df_us_alt_fuel_stations:
Longitude    float64
Latitude     float64
ZIP Code     float64
dtype: object

In [16]:
# Convert columns to string type in df_alt_fueling_stations
df_alt_fueling_stations = df_alt_fueling_stations.astype({col: 'string' for col in df_alt_fueling_stations.columns if col not in ['Longitude', 'Latitude']})

# Convert columns to string type in df_us_alt_fuel_stations
df_us_alt_fuel_stations = df_us_alt_fuel_stations.astype({col: 'string' for col in df_us_alt_fuel_stations.columns if col not in ['Longitude', 'Latitude']})

In [17]:
# Print all column names and their data types in the final_merged_df DataFrame
for column, dtype in df_us_alt_fuel_stations.dtypes.items():
    print(f"Column: {column}, Data Type: {dtype}")

Column: Fuel Type, Data Type: string
Column: Title, Data Type: string
Column: Address, Data Type: string
Column: City, Data Type: string
Column: State, Data Type: string
Column: ZIP Code, Data Type: string
Column: Country, Data Type: string
Column: Phone Number, Data Type: string
Column: StatusType_Title, Data Type: string
Column: GroupsWith Access Code, Data Type: string
Column: Charging Levels, Data Type: string
Column: OperatorTitle, Data Type: string
Column: Geocode Status, Data Type: string
Column: Latitude, Data Type: float64
Column: Longitude, Data Type: float64
Column: Access Code, Data Type: string
Column: Facility Type, Data Type: string
Column: Connector Type, Data Type: string

In [18]:

# Print all column names and their data types in the final_merged_df DataFrame
for column, dtype in df_alt_fueling_stations.dtypes.items():
    print(f"Column: {column}, Data Type: {dtype}")

Column: Title, Data Type: string
Column: Geocode Status, Data Type: string
Column: City, Data Type: string
Column: State, Data Type: string
Column: Address, Data Type: string
Column: ZIP Code, Data Type: string
Column: Access Code, Data Type: string
Column: Longitude, Data Type: float64
Column: Latitude, Data Type: float64

In [19]:

# Convert city names to lowercase and capitalize the first letter of each word
df_alt_fueling_stations['City'] = df_alt_fueling_stations['City'].str.lower().str.title()
df_us_alt_fuel_stations['City'] = df_us_alt_fuel_stations['City'].str.lower().str.title()

#['Access Code'] = df_alt_fueling_stations['Access Code'].str.lower().str.title()
#df_us_alt_fuel_stations['Access Code'] = df_us_alt_fuel_stations['Access Code'].str.lower().str.title()

# Merge DataFrames based on longitude and latitude
final_merged_df = pd.merge(df_alt_fueling_stations, df_us_alt_fuel_stations, on=['Longitude', 'Latitude', 'ZIP Code','City','State','Address','Title'], how='right')

final_merged_df.drop(['Geocode Status_x','Geocode Status_y', 'Fuel Type', 'Access Code_x'], axis=1, inplace=True)

# Display the merged DataFrame
print(final_merged_df.head())

                            Title         City State  \
0   Los Angeles Convention Center  Los Angeles    CA
1  California Air Resources Board     El Monte    CA
2          Scripps Green Hospital     La Jolla    CA
3          Scripps Green Hospital     La Jolla    CA
4      San Diego Wild Animal Park    Escondido    CA

                       Address ZIP Code   Longitude   Latitude Country  \
0           1201 S Figueroa St  90015.0 -118.271387  34.040539      US
1             9530 Telstar Ave  91731.0 -118.064000  34.068720      US
2      10666 N Torrey Pines Rd  92037.0 -117.243000  32.899470      US
3      10666 N Torrey Pines Rd  92037.0 -117.243000  32.899470      US
4  15500 San Pasqual Valley Rd  92027.0 -117.004433  33.098589      US

   Phone Number StatusType_Title GroupsWith Access Code Charging Levels  \
0  213-741-1151                E                                     12
1  626-575-6800                E                                      3
2  858-554-9100                E                                      1
3  858-554-9100                E                                      1
4  760-747-8702                E                                      2

   OperatorTitle Access Code_y   Facility Type Connector Type
0  Non-Networked        public  PARKING_GARAGE          J1772
1  Non-Networked        public       STATE_GOV          J1772
2  Non-Networked        public        HOSPITAL          J1772
3  Non-Networked        public        HOSPITAL          J1772
4  Non-Networked        public         PAY_LOT          J1772

In [20]:
final_merged_df.head()

,Title,City,State,Address,ZIP Code,Longitude,Latitude,Country,Phone Number,StatusType_Title,GroupsWith Access Code,Charging Levels,OperatorTitle,Access Code_y,Facility Type,Connector Type
0,Los Angeles Convention Center,Los Angeles,CA,1201 S Figueroa St,90015.0,-118.271387,34.040539,US,213-741-1151,E,,12,Non-Networked,public,PARKING_GARAGE,J1772
1,California Air Resources Board,El Monte,CA,9530 Telstar Ave,91731.0,-118.064000,34.068720,US,626-575-6800,E,,3,Non-Networked,public,STATE_GOV,J1772
2,Scripps Green Hospital,La Jolla,CA,10666 N Torrey Pines Rd,92037.0,-117.243000,32.899470,US,858-554-9100,E,,1,Non-Networked,public,HOSPITAL,J1772
3,Scripps Green Hospital,La Jolla,CA,10666 N Torrey Pines Rd,92037.0,-117.243000,32.899470,US,858-554-9100,E,,1,Non-Networked,public,HOSPITAL,J1772
4,San Diego Wild Animal Park,Escondido,CA,15500 San Pasqual Valley Rd,92027.0,-117.004433,33.098589,US,760-747-8702,E,,2,Non-Networked,public,PAY_LOT,J1772

In [21]:
final_merged_df.rename(columns={'Access Code_y': 'Access Code', 'Phone Number': 'Phone_Number'}, inplace=True)

# Print all column names and their data types in the merged DataFrame
for column, dtype in final_merged_df.dtypes.items():
    print(f"Column: {column}, Data Type: {dtype}")

Column: Title, Data Type: string
Column: City, Data Type: string
Column: State, Data Type: string
Column: Address, Data Type: string
Column: ZIP Code, Data Type: string
Column: Longitude, Data Type: float64
Column: Latitude, Data Type: float64
Column: Country, Data Type: string
Column: Phone Number, Data Type: string
Column: StatusType_Title, Data Type: string
Column: GroupsWith Access Code, Data Type: string
Column: Charging Levels, Data Type: string
Column: OperatorTitle, Data Type: string
Column: Access Code, Data Type: string
Column: Facility Type, Data Type: string
Column: Connector Type, Data Type: string

In [22]:
final_merged_df.columns

Index(['Title', 'City', 'State', 'Address', 'ZIP Code', 'Longitude',
       'Latitude', 'Country', 'Phone Number', 'StatusType_Title',
       'GroupsWith Access Code', 'Charging Levels', 'OperatorTitle',
       'Access Code', 'Facility Type', 'Connector Type'],
      dtype='object')

In [23]:

# Get the current directory of the notebook
current_dir = os.getcwd()

# Define the file path relative to the resource folder
file_path = os.path.join(current_dir, 'resource', 'final_merged_data.json')

In [24]:
# Convert DataFrame to JSON format
json_data = final_merged_df.to_json(orient='records', indent=4)

# Write JSON data to a file
with open(file_path, 'w') as file:
    file.write(json_data)

print(f"JSON data has been exported to {file_path}")

JSON data has been exported to /Users/albertoalvarado/Documents/utsa/UTSA.Lessons/UTSA.Lessons/Project3/resource/final_merged_data.json

In [25]:
df_alt_fueling_stations.count()

Title             82869
Geocode Status    82869
City              82869
State             82869
Address           82869
ZIP Code          82822
Access Code       82869
Longitude         82869
Latitude          82869
dtype: int64

In [26]:
df_us_alt_fuel_stations.count()

Fuel Type                 42878
Title                     42878
Address                   42878
City                      42878
State                     42878
ZIP Code                  42864
Country                   42878
Phone Number              42878
StatusType_Title          42878
GroupsWith Access Code    42878
Charging Levels           42878
OperatorTitle             42878
Geocode Status            42878
Latitude                  42878
Longitude                 42878
Access Code               42878
Facility Type             42878
Connector Type            42878
dtype: int64

In [27]:
# Select one row by index
row = final_merged_df.iloc[0]

# Display the values of the selected row
print(row)

Title                     Los Angeles Convention Center
City                                        Los Angeles
State                                                CA
Address                              1201 S Figueroa St
ZIP Code                                        90015.0
Longitude                                   -118.271387
Latitude                                      34.040539
Country                                              US
Phone Number                               213-741-1151
StatusType_Title                                      E
GroupsWith Access Code
Charging Levels                                      12
OperatorTitle                             Non-Networked
Access Code                                      public
Facility Type                            PARKING_GARAGE
Connector Type                                    J1772
Name: 0, dtype: object

In [28]:
final_merged_df.count()

Title                     43493
City                      43493
State                     43493
Address                   43493
ZIP Code                  43479
Longitude                 43493
Latitude                  43493
Country                   43493
Phone Number              43493
StatusType_Title          43493
GroupsWith Access Code    43493
Charging Levels           43493
OperatorTitle             43493
Access Code               43493
Facility Type             43493
Connector Type            43493
dtype: int64

In [29]:
# Search for rows where the city contains 'San Antonio'
san_antonio_data = final_merged_df[final_merged_df['City'].str.contains('San Antonio', case=False)]

# Display the resulting data
print(san_antonio_data)

                              Title         City State  \
275                   Ancira Nissan  San Antonio    TX
276                   Ancira Nissan  San Antonio    TX
277                     Gunn Nissan  San Antonio    TX
278                     Gunn Nissan  San Antonio    TX
279              Ingram Park Nissan  San Antonio    TX
...                             ...          ...   ...
40442      CPSE-SATX E HOUSTON ST 1  San Antonio    TX
40814  Overlook Exchange Apartments  San Antonio    TX
42560         The Towers La Cantera  San Antonio    TX
42634        The Standard at Legacy  San Antonio    TX
43048      TREBLE CREEK ROGERSRANCH  San Antonio    TX

                        Address ZIP Code  Longitude   Latitude Country  \
275               10835 IH-10 W  78230.0 -98.575440  29.543147      US
276               10835 IH-10 W  78230.0 -98.575440  29.543147      US
277             750 NE Loop 410  78209.0 -98.467365  29.517253      US
278             750 NE Loop 410  78209.0 -98.467365  29.517253      US
279            6990 NW Loop 410  78238.0 -98.625324  29.457047      US
...                         ...      ...        ...        ...     ...
40442   240 East Houston Street  78205.0 -98.489826  29.426234      US
40814       6455 De Zavala Road  78249.0 -98.615071  29.560592      US
42560  16735 La Cantera Parkway  78256.0 -98.612653  29.607412      US
42634      1938 E Sonterra Blvd  78259.0 -98.463566  29.610827      US
43048         2733 Treble Creek  78258.0 -98.537543  29.602948      US

       Phone Number StatusType_Title GroupsWith Access Code Charging Levels  \
275    210-558-5001                E                                      1
276    210-558-5001                E                                      1
277    888-693-8380                E                                      1
278    888-693-8380                E                                      1
279    210-681-6300                E                                      1
...             ...              ...                    ...             ...
40442  888-758-4389                E                                      1
40814  888-998-2546                E                                      1
42560  800-663-5633                E                                      2
42634  866-816-7584                E                                      4
43048  888-758-4389                E                                      2

             OperatorTitle Access Code        Facility Type Connector Type
275          Non-Networked      public           CAR_DEALER          J1772
276          Non-Networked      public           CAR_DEALER          J1772
277          Non-Networked      public           CAR_DEALER          J1772
278          Non-Networked      public           CAR_DEALER          J1772
279          Non-Networked      public           CAR_DEALER          J1772
...                    ...         ...                  ...            ...
40442  ChargePoint Network      public                               J1772
40814        Blink Network      public                               J1772
42560   SemaCharge Network      public                               J1772
42634           EV Connect      public  MULTI_UNIT_DWELLING          J1772
43048  ChargePoint Network      public                               J1772

[156 rows x 16 columns]